.injected-text {
    margin-left: -10px;
    text-align: center;
    background: lightgrey;
}
/*padding*/
/*hree important properties control the space that surrounds each HTML element: padding, margin, and border.*/
/*An element's padding controls the amount of space between the element's content and its border.*/
/*When you increase the blue box's padding, it will increase the distance (padding) between the text and the border around it.*/
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}
/*margin*/
/*An element's margin controls the amount of space between an element's border and surrounding elements.*/
/*When you increase the box's margin, it will increase the distance between its border and surrounding element, in other words, the element will get smaller
  if you set a negative margin meaning you decrease the margin, the element will get larger.*/

.yellow-box {
    background-color: yellow;
    padding:20px;
    margin: 25px;
}
/* Use Clockwise Notation to Specify the Padding and Margin of an Element
   Top Right Bottom Left*/
.red-box {
    background-color: crimson;
    color: #fff;
    padding: 10px;
    margin: 40px 20px 20px 40px;
}

.blue-box {
    background-color: blue;
    color: #fff;
    padding-top: 40px 20px 20px 40px;
    margin: -25px;
}
body {
  border: 2px solid black;
}



/*The two main types of length units are absolute and relative. Absolute units tie to physical units of length. For example, in and mm refer to inches and millimeters, respectively. Absolute length units approximate the actual measurement on a screen, but there are some differences depending on a screen's resolution.

Relative units, such as em or rem, are relative to another length value. For example, em is based on the size of an element's font. If you use it to set the font-size property itself, it's relative to the parent's font-size.*/
/*Override All Other Styles by using Important
In many situations, you will use CSS libraries. These may accidentally override your own CSS. So when you absolutely need to be sure that an element has specific CSS, you can use !important
color: red !important;*/