.injected-text {
    margin-left: -10px;
    text-align: center;
    background: lightgrey;
}
/*padding*/
/*hree important properties control the space that surrounds each HTML element: padding, margin, and border.*/
/*An element's padding controls the amount of space between the element's content and its border.*/
/*When you increase the blue box's padding, it will increase the distance (padding) between the text and the border around it.*/
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}
/*margin*/
/*An element's margin controls the amount of space between an element's border and surrounding elements.*/
/*When you increase the box's margin, it will increase the distance between its border and surrounding element, in other words, the element will get smaller
  if you set a negative margin meaning you decrease the margin, the element will get larger.*/

.yellow-box {
    background-color: yellow;
    padding:20px;
    margin: 25px;
}
/* Use Clockwise Notation to Specify the Padding and Margin of an Element
   Top Right Bottom Left*/
.red-box {
    background-color: crimson;
    color: #fff;
    padding: 10px;
    margin: 40px 20px 20px 40px;
}

.blue-box {
    background-color: blue;
    color: #fff;
    padding-top: 40px 20px 20px 40px;
    margin: -25px;
}
body {
  border: 2px solid black;
}