/*Element*/
/*li {

 }*/
 /*ID*/
/*#special {

 }*/
 /*Class*/
/*.highlight {

}*/
/*Star
The star symbol will target every single element on the page.*/
* {
	border: 2px solid lightgrey;
}

/*Descendant selector selects nested elements
 When you need to be more specific with your selectors, you use these. 
 For example, what if, rather than targeting all anchor tags, you only need to target the anchors which are within an unordered list? This is specifically when you'd use a descendant selector.*/
li a {
	color: red;
}
/*Adjacent selector selects elements that come after element, not nested inside, directly after same level element*/
h3 + p {
	border: 2px solid red;
}

/*Attribute selector selects elelemts based on attributes*/
/*syntax
element[attribute] {
}
*/
a[href="http://www.google.com"] {
	background: lightgreen;
}
/*nth of type selects every nth of specific element*/
li:nth-of-type(even) {
	background-color: lightyellow;
}
li:nth-of-type(odd) {
	background-color: lightgreen;
}

h1 {
	background: yellow;
	font-size:60px;
	font-family: fantasy;
}
h3 {
	font-family: monospace;
}
h4 {
	font-family: monospace;
}
/*tell browser to degrade to another font 
font-family: FAMILY_NAME, GENERIC_NAME;
if FAMILY_NAME isn't displayed, the fallback font which is GENERIC_NAME will be */
.paragraph1 {
	font-family: "Dancing Script", monospace;
}
.paragraph2 {
	font-family: Piedra, sans-serif;
}
.paragraph3 {
	font-family: Orbitron, serif;
}

.icon-size {
	width: 70px;
	height: 70px;
}
/*Remember that you can apply multiple classes to an element using its class attribute, by separating each class name with a space. For example:

<img class="class1 class2">*/
.red-border {
	border: 3px dashed red;
	border-radius: 50%;
}
